@import '_variables';

%spaced-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

%box {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: $border-radius;
    padding: 5px 20px;
    margin: 5px;
}

%flex-box {
    @extend %box;
    display: flex;
    flex: 1 1 auto;
}

%text-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

%ayim-record {
    @extend %flex-box;
    flex-direction: column;
    box-shadow: $gray-shadow;
    position: relative;
}
