$modes: "storyboard", "mania" , "fruits", "taiko", "standard";

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-body: 'Red Hat Display', sans-serif;
$font-display: 'Lexend Peta', sans-serif;
$font-scoreboard: 'Scoreboard', sans-serif;

$font-sm: 0.75rem;
$font-base: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 1.7rem;

$standard: #fb2475;
$taiko: #ff890a;
$fruits: #0abdff;
$mania: #48f326;
$storyboard: #919191;

$gray: rgb(204, 204, 204);
$gray-dark: rgba(255, 255, 255, 0.2);
$red: rgb(196, 60, 60);
$green: rgb(55, 143, 55);
$inactive: rgba(255, 255, 255, 0.53);

$bg-dark: rgba(0, 0, 0, 0.65);

$border-radius: 15px;

$black-shadow: 0 0 8px rgba(0, 0, 0, 0.63);
$gray-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
$text-shadow: 0 0 2px white;
$text-shadow-lg: 0 0 4px white;
