@import '_partials';
@import '_variables';

.admin-page {
    display: flex;
    flex-flow: column;
    padding: 30px;
    height: 100%;

    &__title {
        font-family: $font-display;
        font-size: $font-xxl;
        margin-bottom: 30px;
    }

    &__link {
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    &__reset {
        color: $red;
        font-weight: bold;

        background-color: $bg-dark;
        box-shadow: $black-shadow;

        cursor: pointer;

        width: fit-content;

        padding: 5px;
        border-radius: $border-radius;
    }
}

.admin-container {

    position: relative;
    height: 100%;
    overflow-y: scroll;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        font-size: $font-lg;
        font-weight: 500;
    }

    &__box {
        @extend %flex-box;
        flex-direction: column;
    }
}
