@import '_variables';

@font-face {
    font-family: Scoreboard;
    src: url("../../../Assets/fonts/scoreboard.ttf");
}

:root {
    --standard: #fb2475;
    --taiko: #ff890a;
    --fruits: #0abdff;
    --mania: #48f326;
    --storyboard: #919191;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body, #__nuxt, #__layout {
    height: 100vh;
}

body {
    font-family: $font-body;
    margin: 0;
    color: white;
    font-size: 1rem;
    
    &::before {
        content: " ";
        background-image: url("../../../Assets/img/ayim-mca/site/bg.jpg");
        background-position: center;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
    }
}

select {
    font-family: $font-body;
    color: black;
    background-color: rgb(115,115,115);
    box-shadow: 0 0 8px rgba(115, 115, 115, 0.61);
    border: 0;

    &:focus {
        outline: none;
    }
}

button, input {
    border: none;
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}
