@import '_variables';
@import '_mixins';

.button {
    padding: 5px;
    margin: 0;

    background: black;
    box-shadow: $black-shadow;
    border-radius: 5.5px;

    font-size: $font-lg;
    font-family: $font-body;
    text-shadow: 0 0 4px white;
    text-transform: uppercase;
    color: white;
    @include breakpoint(mobile) {
        font-size: $font-base;
    }

    min-width: 80px;
    @include breakpoint(mobile) {
        min-width: 50px;
    }
    @include breakpoint(tablet) {
        min-width: 120px;
    }
    @include breakpoint(laptop) {
        min-width: 165px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    @include transition;

    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        filter: invert(100%);
        text-shadow: none;
    }

    &--small {
        min-width: 100px;
        text-transform: none;
        font-size: $font-base;
    }

    &--active {
        background-color: white;
        color: black;
        font-weight: 500;
    }

    &--image > img {
        height: 35px;
    }

    &__add {
        color: rgba(0, 255, 0, 0.6);
        text-shadow: 0 0 4px rgba(0, 255, 0, 0.6);
    }
    
    &__remove {
        color: rgba(255, 0, 0, 0.6);
        text-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
    }

    @include mode-text-color;
}
