@import '_variables';
@import '_mixins';

.button {
    padding: 5px;
    margin: 0;

    background: black;
    box-shadow: $black-shadow;
    border-radius: 5.5px;

    font-size: $font-lg;
    font-family: $font-body;
    text-shadow: 0 0 4px white;
    text-transform: uppercase;
    color: white;
    @include breakpoint(mobile) {
        font-size: $font-base;
    }

    min-width: 70px;
    @include breakpoint(mobile) {
        min-width: 50px;
    }
    @include breakpoint(tablet) {
        min-width: 90px;
    }
    @include breakpoint(laptop) {
        min-width: 120px;
    }
    @include breakpoint(desktop) {
        min-width: 165px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    @include transition;

    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        color: black;
        text-shadow: none;
        background: white;

        & > img {
            filter: invert(100%);
        }
    }

    &--active {
        background-color: white;
        color: black;
        font-weight: 500;
    }

    &--friends {
        background: rgb(255,102,170);
    }

    & > img {
        height: 25px;
        @include transition;
        @include breakpoint(mobile) {
            height: 15px;
        }
    }

    &--small {
        min-width: 50px;
        @include breakpoint(mobile) {
            min-width: 30px;
        }
        @include breakpoint(tablet) {
            min-width: 70px;
        }
        @include breakpoint(laptop) {
            min-width: 90px;
        }
        @include breakpoint(desktop) {
            min-width: 120px;
        }

        & > img {
            height: 15px;
            @include breakpoint(mobile) {
                height: 7px;
            }
        }

        text-transform: none;
        font-size: $font-base;
    }

    &__add {
        color: rgba(0, 255, 0, 0.6);
        text-shadow: 0 0 4px rgba(0, 255, 0, 0.6);
    }
    
    &__remove {
        color: rgba(255, 0, 0, 0.6);
        text-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
    }

    &--disabled {
        color: $inactive;
        text-shadow: none;

        &:hover {
            color: $inactive;
            text-shadow: none;
            background: black;
            cursor: not-allowed;
        }
    }

    @include mode-text-color;
}
