@import '_partials';
@import '_mixins';

.info {
    @extend %box;

    background-color: $bg-dark;
    
    color: $red;
    font-weight: bold;
    font-size: 1rem;
    @include breakpoint(tablet) {
        font-size: 1.25rem;
    }
    @include breakpoint(desktop) {
        font-size: 1.5rem;
    }
}
