@import '_mixins';

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    @include transition;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    @include breakpoint(tablet) {
        height: calc(100vh - 70px - 60px);
    }
    @include breakpoint(desktop) {
        height: calc(100vh - 100px - 60px);
    }
}
