@import '_mixins';

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    @include transition;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    overflow: auto;
}
