@import '_partials';
@import '_variables';

.staff-page {
    display: flex;
    flex-flow: column;
    padding: 30px;

    &__title {
        font-family: $font-display;
        font-size: $font-xxl;
        margin-bottom: 30px;
    }

    &__link {
        font-weight: bold;
        flex: 1;

        &:hover {
            text-decoration: underline;
        }
    }
}

.staff-container {
    @extend %spaced-container;
    flex-direction: column;

    &__title {
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        font-size: $font-lg;
        font-weight: 500;
    }

    &__box {
        @extend %flex-box;
        flex-direction: column;
    }
}
