@import '_partials';
@import '_variables';

.staff-page {
    display: flex;
    flex-flow: column;
    padding: 30px;
    overflow: hidden;

    &__title {
        font-family: $font-display;
        font-size: 2.25rem;
        text-shadow: 0 0 4px white;
        margin-bottom: 30px;
    }

    &__link {
        font-size: $font-lg;
        font-weight: 500;
        flex: 1;
        margin: auto 0;

        @each $mode in $modes {
            &--#{$mode} {
                color: var(--#{$mode});
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__subject {
        font-size: 1.1rem;
        font-weight: 500;
    }

    &__small {
        font-size: 0.85rem;
        font-weight: normal;
    }
    
    &__banner {
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        left: 27%;                
        width: 100%;
        height: 100%;

        z-index: -100;

        background-size: 52%;
        background-position: 8% 52%;
        mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%,  rgba(0, 0, 0, 0.7) 28%, rgba(0, 0, 0, 0.7) 38%, rgba(0, 0, 0, 0) 52%);
    }
}

.staff-container {
    position: relative;
    height: 100%;
    overflow-y: scroll;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    &__header {
        @extend %flex-box;
        position: static;
        font-size: $font-lg;
        font-weight: 500;
        top: 0;
        z-index: 10;

        &:hover {
            background-color: black;
            cursor: pointer;
            @include transition;
        }

        > * {
            padding: 3px 0;
        }

        > span {
            margin-left: auto;
        }
    }

    &__box {
        @extend %flex-box;
        position: relative;
        flex-direction: column;
    }
}

div.staff-container__header--active {
    position: sticky;
    border-radius: 0;
    background-color: black;
    @include transition;
}

.staff-filters {
    display: flex;
    flex: 1;
    padding: 15px 0;
}

.staff-searchContainer {
    height: 90%;
}

.staff-scrollTrack {
    margin-right: 3rem;
}

.staff-list {
    margin-block-start: 0;
    list-style-type: none;

    >li {
        position: relative;
        border-bottom: 1px solid white;
    }
}

.staff-user {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        margin: 5px 0;
        font-weight: bold;
        &--small {
            font-weight: normal;
            font-size: $font-sm;
        }
    }

    &__avatar {
        position: relative;
        top: 0.1em;
        border-radius: 100%;
        max-height: 1.6em;
        margin: 0 0.5em;
        &--small {
            max-height: 1em;
            margin: 0 0.25em;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }
}
