@import '_partials';
@import '_variables';

.staff-page {
    display: flex;
    flex-flow: column;
    padding: 30px;
    overflow: hidden;

    &__title {
        font-family: $font-display;
        font-size: $font-xxl;
        margin-bottom: 30px;
    }

    &__link {
        font-weight: bold;
        flex: 1;

        @each $mode in $modes {
            &--#{$mode} {
                color: var(--#{$mode});
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.staff-container {
    @extend %spaced-container;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &__title {
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        font-size: $font-lg;
        font-weight: 500;
    }

    &__box {
        @extend %flex-box;
        position: relative;
        flex-direction: column;
        overflow-y: scroll;
    
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}