// Per page nuxt auto transition
.page-enter-active, .page-leave-active {
  transition: opacity 0.25s ease-out;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
