@font-face {
    font-family: Scoreboard;
    src: url("../../CorsaceAssets/fonts/scoreboard.ttf");
}

$modes: "storyboard", "mania" , "fruits", "taiko", "standard";

:root {
    --standard: #fb2475;
    --taiko: #ff890a;
    --fruits: #0abdff;
    --mania: #48f326;
    --storyboard: #919191;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
}

body {
    margin:0;
    min-height: 100%;
    background-image: url("../../CorsaceAssets/img/ayim-mca/site/bg.png");
    background-position: center;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
	font-size: 1rem;
}

select {
    font-family: 'Red Hat Display', sans-serif;

    color: black;

    background-color: rgb(115,115,115);
    box-shadow: 0 0 8px rgba(115, 115, 115, 0.61);

    border: 0;

    &:focus {
        outline: none;
    }
}

@mixin mode-triangle {
    @each $mode in $modes {
        &--#{$mode} {
            border-top: none;
            border-bottom: 10px solid var(--#{$mode});
        }
    }
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid;
    border-bottom: none;
    transition: all 0.25s ease-out;

    &Active {
        @include mode-triangle;
    }
}