@font-face {
    font-family: CocoGoose Pro;
    src: url("../../Assets/fonts/Cocogoose Pro.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: CocoGoose Pro;
    src: url("../../Assets/fonts/Cocogoose Pro Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: DIN2014;
    src: url("../../Assets/fonts/DIN2014-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DIN2014;
    src: url("../../Assets/fonts/DIN2014-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: DIN2014;
    src: url("../../Assets/fonts/DIN2014-DemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: DIN2014;
    src: url("../../Assets/fonts/DIN2014-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


*, *:after, *:before {
    box-sizing: border-box;
}

html, body, #__nuxt, #__layout {
    height: 100%;
}

body {
    font-family: 'DIN2014', 'sans-serif';
    margin: 0;
    color: white;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top: 0;
}
