@import '@s-sass/_variables';
@import '@s-sass/_mixins';

.ayim-nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 100;

    margin-top: 10px;
    margin-left: 30px;
    @include breakpoint(laptop) {
        margin-top: 25px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin-left: 0;
    }
    
    &__item {
        margin: 0 15px;
        @include breakpoint(mobile) {
            margin: 15px 0;
        }
    }

    &__front {
        display: flex;
        justify-content: space-around;
        position: relative;
        @include breakpoint(mobile) {
            flex-direction: column;
        }
    }
}

.ayim-wrapper {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    @include breakpoint(mobile) {
        padding-top: 45px;
    }
}