@import '@s-sass/_variables';
@import '@s-sass/_mixins';

.ayim-nav {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    
    @include breakpoint(mobile) {
        width: 100%;
    }

    &--front {
        @include breakpoint(mobile) {
            flex-direction: column;
        }
    }
}

.ayim-wrapper {
    width: 100%;
    max-height: 200%;
    padding-top: 15px;

    @include breakpoint(laptop) {
        height: 100%;
    }
}