[submodule "MCA"]
	path = MCA
	url = https://github.com/VINXIS/MCA.git
[submodule "AYIM"]
	path = AYIM
	url = https://github.com/VINXIS/AYIM.git
[submodule "CorsaceModels"]
	path = CorsaceModels
	url = https://github.com/VINXIS/CorsaceModels.git
[submodule "CorsaceAssets"]
	path = CorsaceAssets
	url = https://github.com/VINXIS/CorsaceAssets.git
[submodule "CorsaceOpen"]
	path = CorsaceOpen
	url = https://github.com/VINXIS/CorsaceOpen.git
[submodule "CorsaceInvitational"]
	path = CorsaceInvitational
	url = https://github.com/VINXIS/CorsaceInvitational.git
[submodule "CorsaceServer"]
	path = CorsaceServer
	url = https://github.com/VINXIS/CorsaceServer.git
