@import '_variables';

@mixin breakpoint($device) {
    @if $device == desktop {
        @media (min-width: $breakpoint-xl) { @content ; }
    }
    @else if $device == laptop {
        @media (min-width: $breakpoint-lg) { @content ; }
    }
    @else if $device == tablet {
        @media (min-width: $breakpoint-md) { @content ; }
    }
    @else if $device == mobile {
        @media (max-width: $breakpoint-sm)  { @content ; }
    }
}

@mixin transition($properties: 'all') {
    transition-property: #{$properties};
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

@mixin mode-border($sides: [left right top bottom]) {
    @each $mode in $modes {
        &--#{$mode} {
            @each $side in $sides {
                border-#{$side}: 1px solid var(--#{$mode});
            }
        }
    }
}

@mixin mode-text-color {
    @each $mode in $modes {
        &--#{$mode} {
            color: var(--#{$mode});
        }
    }
}
