@import '_mixins';
@import '_variables';

@font-face {
    font-family: CocoGoose Pro;
    src: url("../fonts/Cocogoose Pro.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: CocoGoose Pro;
    src: url("../fonts/Cocogoose Pro Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-DemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTMedium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTMediumOblique.otf") format("opentype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTHeavyOblique.otf") format("opentype");
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: Futura PT Book;
    src: url("../fonts/FuturaPTBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Futura PT Book;
    src: url("../fonts/FuturaPTBookOblique.otf") format("opentype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: Scoreboard;
    src: url("../fonts/scoreboard.ttf");
}

@font-face {
    font-family: Swis721;
    src: url("../fonts/Swis721_Cn_BT_Roman.ttf");
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Normal.ttf");
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Normal_Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Bold_Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Medium_Italic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Extrabold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Commuters Sans;
    src: url("../fonts/CommutersSans-Regular.ttf");
}

@font-face {
    font-family: Univers;
    src: url("../fonts/UniversRegular.ttf");
}

@font-face {
    font-family: Univers;
    src: url("../fonts/UniversBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Univers;
    src: url("../fonts/UniversLight.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: Univers;
    src: url("../fonts/UniversCnRg.ttf");
    font-stretch: condensed;
}

@font-face {
    font-family: Univers;
    src: url("../fonts/UniversCnBold.ttf");
    font-weight: bold;
    font-stretch: condensed;
}

@font-face {
    font-family: Zurich;
    src: url("../fonts/Zurich Black Italic.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Thin.woff2") format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-ThinItalic.woff2") format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-ExtraLightItalic.woff2") format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-LightItalic.woff2") format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-MediumItalic.woff2") format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-SemiBoldItalic.woff2") format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-BoldItalic.woff2") format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-ExtraBold.woff2") format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-ExtraBoldItalic.woff2") format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-BlackItalic.woff2") format('woff2');
    font-weight: 900;
    font-style: italic;
}


:root {
    --standard: #fb2475;
    --taiko: #ff890a;
    --fruits: #0abdff;
    --mania: #48f326;
    --storyboard: #919191;
    --selected-mode: var(--standard);
}

*, *:after, *:before {
    box-sizing: border-box;
    @include transition;
}

html, body, #__nuxt, #__layout {
    height: 100%;
}

body {
    margin: 0;
    color: white;
    font-size: $font-base;
}

.layout {
    &--corsace {
        font-family: 'DIN2014', 'sans-serif';
    }
    &--mca-ayim {
        font-family: 'Futura PT', 'sans-serif';
    }
    &--open {
        background: $open-dark;
        font-family: 'Inter', 'sans-serif';

        & * {
            &::-webkit-scrollbar {
                height: 10px;
            }

            &::-webkit-scrollbar-track {
                background: #333333;
            }

            &::-webkit-scrollbar-thumb {
                background: #555555;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #777777;
            }

            &::-webkit-scrollbar-thumb:active {
                background: #999999;
            }

            scrollbar-color: #555555 #333333;
            scrollbar-width: thin;
        }
    }
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top: 0;
}
