@import '_mixins';
@import '_variables';

@font-face {
    font-family: CocoGoose Pro;
    src: url("../fonts/Cocogoose Pro.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: CocoGoose Pro;
    src: url("../fonts/Cocogoose Pro Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-DemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: DIN2014;
    src: url("../fonts/DIN2014-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTMedium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTMediumOblique.otf") format("opentype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Futura PT;
    src: url("../fonts/FuturaPTHeavyOblique.otf") format("opentype");
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: Futura PT Book;
    src: url("../fonts/FuturaPTBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Futura PT Book;
    src: url("../fonts/FuturaPTBookOblique.otf") format("opentype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: Scoreboard;
    src: url("../fonts/scoreboard.ttf");
}

@font-face {
    font-family: Swis721;
    src: url("../fonts/Swis721_Cn_BT_Roman.ttf");
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Normal.ttf");
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Normal_Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Bold_Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Medium_Italic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Extrabold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: gg sans;
    src: url("../fonts/gg_sans_Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Commuters Sans;
    src: url("../fonts/CommutersSans-Regular.ttf");
}

:root {
    --standard: #fb2475;
    --taiko: #ff890a;
    --fruits: #0abdff;
    --mania: #48f326;
    --storyboard: #919191;
    --selected-mode: var(--standard);
}

*, *:after, *:before {
    box-sizing: border-box;
    @include transition;
}

html, body, #__nuxt, #__layout {
    height: 100%;
}

body {
    margin: 0;
    color: white;
    font-size: $font-base;
}

.layout {
    &--corsace {
        font-family: 'DIN2014', 'sans-serif';
    }
    &--mca-ayim {
        font-family: 'Futura PT', 'sans-serif';
    }
    &--open {
        background: linear-gradient(180deg, #1F1F1F 0%, #131313 100%);
        font-family: 'gg sans', 'sans-serif';
    }
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top: 0;
}
