.line {
    &--gray {
        border: 0;
        border-top: 1px solid #545454
    }
    &--red {
        border: 0;
        border-top: 1px solid $open-red;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &--no-fill {
        width: 75%;
        margin: 20px auto;
    }

    &--bottom-space-default {
        margin: 0 0 25px 0;
    }

    &--no-space {
        margin: 0;
    }

    &--bottom-space {
        border: 0;
        border-top: 1px solid $open-red;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin: 0 0 4.5px 0;
    }

    &--banner { 
        border: 0;
        border-top: 1px solid $open-red;
    }

    &--vertical_gray {
        border: 0;
        border-left: 1px solid #545454;
        height: 100%;
    }
}