@import '_variables';
@import '_mixins';

@mixin mode-triangle {
    @each $mode in $modes {
        &--#{$mode} {
            border-top: none;
            border-bottom: 10px solid var(--#{$mode});
        }
    }
}

.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid;
    border-bottom: none;
    @include transition();

    &-button {
        margin-left: 10px;
    }

    &-active {
        border-top: none;
        border-bottom: 10px solid;

        @include mode-triangle;
    }
}
