// Per page nuxt auto transition
.page-enter-active, .page-leave-active {
  transition: opacity 0.2s ease-out;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.2s ease-out;
}

.fade-enter, .fade-leave-to {
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  overflow: hidden;
  max-height: 100px;
  opacity: 1;
}

.simple-fade-enter-active, .simple-fade-leave-active {
  transition: all 0.2s ease-out;
}

.simple-fade-enter, .simple-fade-leave-to {
  opacity: 0;
}
