// Per page nuxt auto transition
.page {
    &-enter, &-leave-to {
        opacity: 0;
    }
}

.fade {
    &-enter, &-leave-to {
        overflow: hidden;
        max-height: 0px;
        opacity: 0;
    }

    &-enter-to, &-leave {
        overflow: hidden;
        max-height: 100px;
        opacity: 1;
    }
}

.simple-fade {
    &-enter, &-leave-to {
        opacity: 0;
    }
}

.collapsible {
    &-enter, &-leave-to {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }

    &-enter-to, &-leave {
        overflow: hidden;
        max-height: 1000px;
        opacity: 1;
    }
}