---
interface Property {
    name: string;
    type: string | Property[];
}

interface Props {
    properties: Property[];
}

const { properties } = Astro.props;
---
<ul>
    {properties.map((p) => {
        if (Array.isArray(p.type)) {
            return (
                <li>
                    <strong>{p.name}:</strong>
                    <Astro.self properties={p.type} />
                </li>
            );
        }
        return (
            <li>
                <strong>{p.name}:</strong> {p.type}
            </li>
        );
    })}
</ul>
